:root {

    --primary-clr: #fcf63a;
    --sec-clr: #61C940;
    --green-clr: #1B3D2F;
    --lightgreen-clr: #C0BA82;
  
    --white-clr1: #FBF9F0;
    --white-clr2: #fffada;
    --white-pink: #ffd7dd;
  
    --deep-gray01: #2a2924;
    --deep-gray02: #2d2d23;
    --deep-gray03: #2a2d24;
    --light-gray: #AFAC99;
  
    --dark-clr1: #070706;
    --dark-clr2: #00180e;

    --bgDark-clr1: #0f0f0a;
    --bgDark-clr2: #20201b;
    --bgDark-clr3: #24241e;

    --opac-p01: #b5b13f24;
    --opac-p03: #fcf53a3c;
    --opac-p05: #e1dc41d4;

    --opac-d01: #05050311;
    --opac-d03: #05050339;
    --opac-d05: #05050385;
    --opac-d07: #050503c2;

    --opac-w01: #fffff311;
    --opac-w03: #ffffe939;
    --opac-w05: #fffff185;
    --opac-w07: #fffff1a4;
  
    --font-inter: var(--font-i);
    --font-alegreya: var(--font-a);
  
    --bdr-small: 4px;
    --bdr-mid: 8px;
    --bdr-large: 16px;
    --bdr-xlarge: 20px;
    --bdr-xxlarge: 32px;

    --padding-small: 5%;
    --padding-gen: 10%;

    --nav-height: 80px;
}


.membershipFisrtSect.privacy{
    background-image: url(/policy_3.jpg);
}
.membershipFisrtSect.membership{
    background-image: url(/policy_2.jpg);
}
.membershipFisrtSect.guidelines{
    background-image: linear-gradient(to bottom, var(--opac-d03), var(--opac-d05)), url(/policy_1.jpg);
}
.membershipFisrtSect.privacy h1{
    font-size: 7.4em;
    letter-spacing: 21px;
    background-image: linear-gradient(to bottom, var(--lightgreen-clr) 72%, var(--bgDark-clr2) 60%);

    animation: spacer 0.8s ease-in-out;
}
.membershipFisrtSect.two_words h1{
    font-size: 6.8em;
    letter-spacing: 0px;
    word-spacing: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--lightgreen-clr) 72%, var(--bgDark-clr2) 60%);

    animation: none;
}

@keyframes spacer {
    0%{
        letter-spacing: 0px;
    }
    100%{
        letter-spacing: 21px; 
    }
}

.privacy_Sect2{
    padding: 8em 15%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    background-color: var(--bgDark-clr2);
}

.unitPolicy {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.unitPolicy h2{
    font-size: 3em;
    color: var(--lightgreen-clr);
    font-family: var(--font-r);
    font-weight: 100;
}

@media screen and (max-width: 600px) {
    main{
        overflow-x: hidden;
    }
    .membershipFisrtSect.privacy h1{
        font-size: 3.15em;
        letter-spacing: 0px;
        word-spacing: 10px;
        background-image: linear-gradient(to bottom, var(--lightgreen-clr) 72%, var(--bgDark-clr2) 60%);
    
        animation: none;
    }

    .membershipFisrtSect.two_words h1{
        font-size: 4.1em;
        letter-spacing: 0px;
        word-spacing: 20px;
        text-align: center;
        transform: translateY(12%);
        background-image: linear-gradient(to bottom, var(--lightgreen-clr) 86%, var(--bgDark-clr2) 60%);
    
        animation: none;
    }

    .privacy_Sect2{
        padding: 8em var(--padding-small);
    }

    .unitPolicy h2{
        font-size: 2.1em;
        word-break: normal;
        /* word-wrap: break-word; */
    }
}

.unitPolicy p{
    font-size: 1.3em;
    font-weight: 300;
    color: var(--white-clr1);
    margin-bottom: 7px;
}
.unitPolicy p b{
    font-size: 1.05em;
    font-weight: 500;
}
.unitPolicy p span{
    font-size: 1.05em;
    font-weight: 300;
    color: var(--lightgreen-clr);
}

.unitPolicy a{
    width: max-content;
}

